<settings>
<servers>
  <server>
    <id>nextwork-nextwork-devops-cicd-codeartifact-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>nextwork-nextwork-devops-cicd-codeartifact-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextwork-nextwork-devops-cicd-codeartifact-repo</id>
        <url>https://nextwork-941377141020.d.codeartifact.ap-south-1.amazonaws.com/maven/nextwork-devops-cicd-codeartifact-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>nextwork-nextwork-devops-cicd-codeartifact-repo</id>
    <name>nextwork-nextwork-devops-cicd-codeartifact-repo</name>
    <url>https://nextwork-941377141020.d.codeartifact.ap-south-1.amazonaws.com/maven/nextwork-devops-cicd-codeartifact-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
